<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Jobs" tabIcon="ios-briefcase-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="My Jobs" tabIcon="ios-bookmarks-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Chat" tabIcon="ios-chatbubbles-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="ios-contact-outline"></ion-tab>
</ion-tabs>
