<ion-header>
  <ion-navbar>
    <ion-title>Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-card class="text cards-job" *ngFor="let item of items | async">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/foto-perfil.png">
        </ion-avatar>
        <h2>{{item.username}} {{item.surname}}</h2>
        <p>Post date: {{item.date}}</p>
      </ion-item>

      <img src="assets/img/card.jpg">

      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="danger">
            <ion-icon name="checkmark-circle"></ion-icon>
            <div>28 subscribers</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="danger">
            <ion-icon name="eye" id="icon-eye"></ion-icon>
            <div>62 interested</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>


