<ion-content padding>

  <ion-img src="assets/img/logofindjob.png"></ion-img>

  <!--Search graphic by <a href="http://www.flaticon.com/authors/icomoon">Icomoon</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>-->
  
  <form id="login-form" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    
    <ion-list>

      <ion-item>
        <input type="text" id="email" placeholder="Email" (ngModel)="email" name="email" class="txt" required>
      </ion-item>

      <ion-item>
        <input type="password" id="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
      </ion-item>

      <ion-item>
        <input type="password" id="repeat-password" placeholder="Repeat password" (ngModel)="repeatpassword" name="repeatpassword" class="txt" required>
      </ion-item>

    </ion-list>

    <div class="row" id="row-btn-1">
      <ion-col col-12 id="col-btn-mail">
        <button ion-button color="secondary" id="loginBtn" type="submit" [disabled]="!formData.valid">Register</button>
      </ion-col>
    </div>
    
  </form>

  

  <button ion-button clear (click)="goLogin()">I have account yet</button>

</ion-content>